body{
    max-width: 1500px;
}
.container {
    max-width: 1500px;
    padding: 0;
}
/*css for slider section*/
.slideshow {
    background-color: rgba(247, 95, 70, 0.80);
    padding: 0;
    color: #ffffff;
    /*height: 510px;*/
    font-family: 'Lato', sans-serif;
}

.slider-item {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -100;
}
.slideshow h1 {
    font-size: 58px;
    font-weight: 600;
    text-align: center;
}
.slideshow h3 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.slideshow h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 2.0;
    text-align: center;
}
.slider-title{
    position: absolute;
    top: 26%;
    left: 27.5%;
    text-align: center;
}
/*css start for header section*/
header {
    background-color: rgba(219,89,65,0.9);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.padd{
    padding: 0 115px;
}

/*css for nav menu*/
.snav {
    background-color: rgba(219,89,65,0.4);
    height: 80px;
    line-height: 80px;
    bottom: 0;
    position: relative;

}
.logo h3{
    font-family: 'Lobster', cursive;
    text-align: left;
    font-weight: 400;
    font-size: 35px;
    padding: 0 ;
    margin: 20px 0;

}
.snav ul {

    margin: 0;
    padding: 0 0 0 128px;

}
.snav ul li {
    display: inline;
    padding: 0 0 0 12px;
}
.snav ul li a {
    text-decoration: none;
    color: #fff;
}
.underline_effect a:after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(210,105,30,0.8);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
.underline_effect a:hover:after,.underline_effect a:focus:after{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/*css end for header section*/


/*css start for section-service*/
.section-service {
    height: 640px;
    background-color: #db5941;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.service{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-top: 60px;
}
.section-service h4{
    font-size: 17px;
    color: #eee;
}
.section-service h6 {
    color: #eee;
    font-weight: 400;
    line-height: 1.6;
}
.pixel-perfect{
    padding: 70px 0 0 0;
    /*border: 1px solid #ffffff;*/
    /*height: 500px;*/
}
.creative-design {
    padding: 70px 0 0 0;
    /*border: 1px solid #ffffff;*/
    /*height: 500px;*/
}
.responsive-theme {
    padding: 70px 0 0 0;
    /*border: 1px solid #ffffff;*/
    /*height: 500px;*/
}
.section-service i {
    width: 140px;
    height: 140px;
    border: 3px solid #ffffff;
    padding: 33px;
    border-radius: 140px;
}
.more-button {
    font-size: 12px;
    width: 55px;
    border: 2px solid #eee;
    padding: 7px 5px;
    border-radius: 5px;
    margin: 0 auto;

}
/*css end for section-service*/

.bottom {
    padding-bottom: 50px;
}

